<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="5000">
            <img src="../assets/img/4119-Thomas-Jefferson-Quote-I-cannot-live-without-books.jpg" class="d-block w-100"
                alt="">
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <img src="../assets/img/6760-Stephen-King-Quote-Good-books-don-t-give-up-all-their-secrets-at.jpg"
                class="d-block w-100" alt="">
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <img src="../assets/img/15478-Margaret-Fuller-Quote-Today-a-reader-tomorrow-a-leader.jpg"
                class="d-block w-100" alt="">
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <img src="../assets/img/wp3781073.webp.jpg" class="d-block w-100" alt="">
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>